#thingsto{
	font-family: cambria;
	font-weight: bold;
}
img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}
img ~ p{
	letter-spacing: 8px;
	font-family: courier;
	font-weight: bold;
}
p+#footer{
	text-align: center;
}
#following {
	text-transform: uppercase;
	font-family: verdana; 
	font-weight: bold;
}